/*font-family:'Dancing Script', cursive;
font-family: 'Alfa Slab One', cursive;*/
* {
    margin: 0;
    padding: 0;
} 

body {
     overflow-x:hidden;
     margin: 5px;
     padding: 5px 5px;
     margin: 5px;
     background-color: rgba(0,0,0,0.10)!important;
     background-color: #465fcf;
}
h1{
    font-family:'Alfa Slab One';
    color:#1f3f6d;
    font-size: 40px !important;
}
h2 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#1f3f6d;
    font-weight: 500;  
    font-size: 30px;
}
h3 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#1f3f6d;
    font-weight: 500;  
    font-size: 25px;
}
h5{
    
    font-family:'Alfa Slab One';
    color:#1f3f6d;
    font-size: 18px;
}
p{
    font-family: 'Dancing Script', cursive;
    color:#73848e;
    font-weight: 400;
    font-size: 23px;
}
/*barra nav*/
.logo img{
    width:50px;
    height:45px;
}
.barrabristol{
    background-color: #465fcf;
}
.barratitulo{
    margin-top:8px;
}

.barrabristol ul{
     margin-left:30px;
}
.barrabristol ul li a :hover {
    background-color: #1b519bce;
}
.barrabristol ul li a :visited {
    background-color:  #185dbece;
     color:rgb(40, 35, 35)
}
.btnnav{
    background-color: #1f3f6d;
    color: white;
    border-radius:200px;
    border-radius: 15%;
    border-color: #1f3f6d;
}

/*footer gral*/
.footgral ul{
    list-style-type: none;
    background-color: #333;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    color:white 
}

 @media (max-width: 576px){
        .footgral ul{
             display: flex;
             flex-direction: column;
             justify-content: flex-end;  
       }
}
 
.footgral ul  li  a {
   display: block;
   text-align: right;
   padding: 14px 16px;
   text-decoration: none;
}
.footgral img {
   height: 20px;
   margin: -5px 5px
}
/*index cambiar altura*/
.indexmain{
     display:grid;
     grid-template-columns: 35% 65%;
     grid-template-rows:30% 25% 20% 25%;
     grid-template-areas:"salaminin salaminin"
                         "jamonesin chacinadosin" 
                         "salazonesin chacinadosin"
                         "quesosin chacinadosin";
     column-gap: 10px;
     row-gap: 10px;
}
.salaminportada {
    grid-area: salaminin;
    text-align: center;
}
.salaminportada img{
    width:99%;
    height:700px;
    object-fit:cover;
}
.jamonesindex {
    grid-area: jamonesin;
    text-align: center;
}
.jamonesindex img{
        width:100%;
        height:140px;
        object-fit:cover;

}
.salazonesindex {
    grid-area: salazonesin;
    text-align: center;
}
.salazonesindex img{
        grid-area: salazonesin;
        width:100%;
        height:120px;
        object-fit:cover;
}
.quesos {
     grid-area: quesosin;
     text-align: center;
}
.quesos img{
     width:100%;
     height:150px;
}
.chacinadosyembutidos {
        grid-area: chacinadosin;
        text-align: center;
}
.chacinadosyembutidos img{
     width:100%;
     height:500px;
}

.containercarouselin{
     width:100%;
     padding:20px;
     background-color: #465fcf;
     overflow: hidden;
 }

  



/*videoabajoindex*/

.iframelario {
    display:flex;
    width: 60%;

}
.iframelario h3{
        display:flex;
        padding-left: 8px;
}

/*pagina logistica*/
.logistica img {
     height: 100px;
    
}

.logistica {
     display:grid;
      grid-template-columns: auto auto;
     grid-template-rows: auto auto;
      grid-template-areas:"rapido ciudad" "eficiencia horario"; 
      column-gap: 10px;
      row-gap: 10px;
}
.logisticaarticle {
     display:flex;
     flex-direction: column;
     padding-left: 5px;
}
@media (max-width: 576px){
     .logisticaarticle{
        display: block;
      background-color: #b8afaf;
     }
}
@media (max-width: 576px){
     .logistica{
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     background-color: #b8afaf;
     display: block;
    }
}

.rapido{
     grid-area: rapido} 
.atodalaciudad{
      grid-area: ciudad;    
}
.eficiencia{
     grid-area: eficiencia;
}
.hsdeatencion{
     grid-area: horario;
}
.rapido-img, .atodalaciudad-img, .eficienica-img, .hsdeatencion-img {
    width: 250px;
    height:250px;
    object-fit:cover;
} 
/*paginacontactos*/
.prcontacto {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding: 0 0 0 15px;
}
.mapacontacto{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width: 60%;
}
/*pagina productos*/
.container-fluidprod{
    background-color: #465fcf;
     padding: 15px;
}

.row1mio div, .row2mio div, .row3mio div {
     background-color:rgba(206, 198, 198, 0.967);
}
.card1mia a, .card2mia a, .card3mia a, .card4mia a, .card5mia a, .card6mia a, .card7mia a, .card8mia a, .card9mia a, .card10mia a, .card11mia a, .card12mia a{
    background-color:#1f3f6d;
    border-color:#1f3f6d;
}
.row1mio, .row2mio, .row3mio{
     column-gap: 40px;
     row-gap: 20px;
     margin: 10px;
     padding-left: 30px;
}
@media (max-width: 576px){
    .row1mio, .row2mio, .row3mio{
      flex-direction: column;
     align-items: center;
    }
}
/*falta cambiar a las imagenes originales*/



/*pagina nosotros*/
.nosotrosmain {
    display:grid;
    grid-template-columns: 50% 50%;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nosotros inostros" "ihistoria historia" 
    "valores ivalores" "imision mision" "vision ivision"; 
    column-gap: 10px;
    row-gap: 10px;
    padding:10px;
}
.valores, .mision, .vision{
      background-color: #465fcf;
      color: #f8f3f3;
} 
.valores p, .mision p, .vision p{
     color: #f8f3f3;
}
.imagennosotros img {
     grid-area: inosotros;
     width:100%;
     height:100%;
     border-radius: 200px;
     
    
}
.imagenhistoria img {
     grid-area: ihistoria;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvalores img {
     grid-area: ivalores; 
     width:100%;
     height:100%;
     border-radius: 200px;
}
.imagenmision img {
     grid-area: imision;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvision img{
     grid-area: ivision;
     width:100%;
     height:100%;
     border-radius: 200px;
}
.nosotros {
    grid-area: nosotros;
    text-align: left;
}
.historia {
     grid-area: historia;
     text-align:right;
}
.valores {
    background-color: #465fcf;
     grid-area: valores;
     text-align: center;
}   
.mision {
    background-color: #465fcf;
     grid-area: mision;
     text-align: left;
}    
.vision {
    background-color: #465fcf;
     grid-area: vision;
     text-align: right;
}   