/*font-family:'Dancing Script', cursive;
font-family: 'Alfa Slab One', cursive;*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px;
    padding: 5px 5px;
    margin: 5px;
    background-color: rgba(0,0,0,0.10);
}
h1{
    font-family: 'Alfa Slab One';
    color:#1f3f6d;
    font-size: 40px;
}
h2 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#1f3f6d;
    font-weight: 500;  
    font-size: 30px;
}
h3 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#1f3f6d;
    font-weight: 500;  
    font-size: 25px;
}
p{
    font-family: 'Dancing Script', cursive;
    color:#73848e;
    font-weight: 400;
    font-size: 26px;
}
.contenedor{
display: inline-block;
display:flex;
flex-direction:row;
justify-content: space-evenly;
}

/*header gral*/
header .contenedor img {
    height: 84px;
    display:flex;
}

header .contenedor > h1 {
    display: inline-block;
    display:flex;
    flex-direction:row;
}
/*barra de nav gral*/

.navbarra ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.navbarra ul  li  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambia el color del enlace a #111 (negro) al pasar el mouse */
.navbarra ul li > a:hover {
    background-color: #111;
}

 /* Queda en otro el color el enlace que ya haya visitado en #111 (negro)  */
.navbarra ul li > a:visited {
        background-color: #222;
        color:rgb(150, 148, 148)

}
/*footer gral*/
.footgral ul{
    list-style-type: none;
    background-color: #333;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
.footgral ul  li  a {
   display: block;
   color: white;
   text-align: right;
   padding: 14px 16px;
}
.footgral img {
   height: 20px;
   margin: -5px 5px
}
/*index cambiar altura*/
.indexmain{
     display:grid;
     grid-template-columns: 35% 65%;
     grid-template-rows:30% 25% 20% 25%;
     grid-template-areas:"salaminin salaminin"
                         "jamonesin chacinadosin" 
                         "salazonesin chacinadosin"
                         "quesosin chacinadosin";
     column-gap: 10px;
     row-gap: 10px;
}
.salaminportada {
    grid-area: salaminin;
    text-align: center;
}
.salaminportada img{
    width:1310px;
    height:280px;
}
.jamonesindex {
    grid-area: jamonesin;
    text-align: center;
}
.jamonesindex img{
        width:100%;
        height:140px;
}
.salazonesindex {
    grid-area: salazonesin;
    text-align: center;
}
.salazonesindex img{
        grid-area: salazonesin;
        width:100%;
        height:120px;
}
.quesos {
     grid-area: quesosin;
     text-align: center;
}
.quesos img{
     width:100%;
     height:150px;
}
.chacinadosyembutidos {
        grid-area: chacinadosin;
        text-align: center;
}
.chacinadosyembutidos img{
     width:96%;
     height:500px;
}

.iframelario {
    display:flex;
    padding-left: 5px;
    width: 60%;
}
/*pagina logistica*/
.logistica img {
     height: 100px;
    
}

.logistica {
     display:grid;
      grid-template-columns: auto auto;
     grid-template-rows: auto auto;
      grid-template-areas:"rapido ciudad" "eficiencia horario"; 
      column-gap: 10px;
      row-gap: 10px;
}
.rapido{
     grid-area: rapido} 
.atodalaciudad{
      grid-area: ciudad;    
}
.eficiencia{
     grid-area: eficiencia;
}
.hsdeatencion{
     grid-area: horario;
}
.rapido-img, .atodalaciudad-img, .eficienica-img, .hsdeatencion-img {
    width: 250px;
    height:250px;
    object-fit:cover;
} 
/*paginacontactos*/
.prcontacto {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding: 0 0 0 15px;
}
.mapacontacto{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width: 60%;
}
/*pagina productos*/
.productos{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     grid-template-areas:"paleta cocido natural"
     "salamines salame crudo" "cantimpalo lomo panceta" "bocha holanda reggiano"; 
     column-gap: 10px;
     row-gap: 10px;
}
.paletacagnoli{
    grid-area: paleta;
} 
.cocidocagnoli{
    grid-area: cocido;
} 
.naturalcagnoli{
    grid-area: natural;
} 
.salaminescagnoli{
    grid-area: salamines;
} 
.salamechacra{
    grid-area: salame;
}
 .crudoweber{
    grid-area: crudo;
}
 .cantimpalolario{
    grid-area: cantimpalo;
}
.lomolario{
    grid-area: lomo;
}
.pancetabierzo{
    grid-area: panceta;
}
.bochacalchaqui{
    grid-area: bocha;
}
.holandavarense{
    grid-area: holanda;
} 
.reggianosilvia{
    grid-area: reggiano;
} 
/*falta cambiar a las imagenes originales*/
.paletacagnoli-img, .cocidocagnoli-img, .naturalcagnoli-img, .lomolario-img, .bochacalchaqui-img, .pancetabierzo-img,
.salaminescagnoli-img, .salamechacra-img, .crudoweber-img, .cantimpalolario-img, .holandavarense-img, .reggianosilvia-img {
    width: 250px;
    height:250px;
    object-fit:cover;
}

/*pagina nosotros*/
.nosotrosmain {
    display:grid;
    grid-template-columns: 50% 50%;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nosotros inostros" "ihistoria historia" 
    "valores ivalores" "imision mision" "vision ivision"; 
    column-gap: 10px;
    row-gap: 10px;
    padding:20px
}
.imagennosotros img {
     grid-area: inosotros;
     width:100%;
     height:100%;
}
.imagenhistoria img {
     grid-area: ihistoria;
     width:100%;
     height:100%;
}
.imagenvalores img {
     grid-area: ivalores; 
     width:100%;
     height:100%;
}
.imagenmision img {
     grid-area: imision;
     width:100%;
     height:100%;
}
.imagenvision img{
     grid-area: ivision;
     width:100%;
     height:100%;
}
.nosotros {
    grid-area: nosotros;
    text-align: center;
}
.historia {
     grid-area: historia;
     text-align:center;
}
.valores {
     grid-area: valores;
     text-align: center;
}   
.mision {
     grid-area: mision;
     text-align: center;
}    
.vision {
     grid-area: vision;
     text-align: center;
}   