/*font-family:'Dancing Script', cursive;
font-family: 'Alfa Slab One', cursive;*/
* {
    margin: 0;
    padding: 0;
} 

body {
     overflow-x:hidden;
     margin: 5px;
     padding: 5px 5px;
     margin: 5px;
     background-color: rgba(0,0,0,0.10)!important;
     
}
h1{
    font-family:'Alfa Slab One';
    color:#123565;
    font-size: 31px!important;
}
h2 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#153562;
    font-weight: 500;  
    font-size: 28px;
}
h3 {
    font-family: 'Dancing Script', cursive;
    margin: 10px 0;
    color:#1f3f6d;
    font-weight: 500;  
    font-size: 23px;
}
h4{
    font-family:'Alfa Slab One';
    color:white;
    font-size: 21px;
}
h5{
    
    font-family:'Alfa Slab One';
    color:#1f3f6d;
    font-size: 19px;
}
p{
    font-family: 'Dancing Script', cursive;
    color:#73848e;
    font-weight: 400;
    font-size: 22px;
}
/*barra nav*/
.logo img{
    width:50px;
    height:45px;
}
.barrabristol{
    
    position: fixed;
    z-index: 80;
}
.barratitulo{
     margin-top:8px;
     color:  white;
}

.barrabristol ul{
     margin-left:30px;
}
.barrabristol ul a{
     color: white;
}
.barrabristol ul li a :hover {
     background-color: #1d6ddcce;
}
.barrabristol ul li :visited {
     color:  #43c4f3ce;
}
.btnnav{
     background-color: #1f3f6d;
     color: white;
     border-radius:200px;
     border-radius: 15%;
     border-color: #1f3f6d;
}

/*footer gral*/
.footgral, .barrabristol{
      background: linear-gradient(90deg, rgb(108, 100, 75) 0%, rgba(247, 145, 80, 0.66) 50%, rgb(4, 184, 213) 100%);
      box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}
.footgral ul{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    color:white;
}

 @media (max-width: 576px){
        .footgral ul{
             display: flex;
             flex-direction: column;
             justify-content: flex-end;  
       }
}
 
.footgral ul  li  a {
   display: block;
   text-align: right;
   padding: 14px 16px;
   text-decoration: none;
}
.footgral img {
   height: 20px;
   margin: -5px 5px;
}

/*index pagina*/

.salaminportad {
      display:flex;
      flex-direction:column;
      background-color: #223ebb;
      color:white; 
}
.salaminportad img{
    width:100%;
    object-fit:cover;
    overflow:hidden;
    height:650px;
}
.salaminportad H1{
     display: flex;
     flex-direction: column;
     align-items: center;
}
-------------------
.index{
      display:grid;
      grid-template-columns: 40% 60%;
      grid-template-rows:45% 25% 30%;
      grid-template-areas:"jamonesin chacinadosin" 
                          "salazonesin chacinadosin"
                          "quesosin chacinadosin";
      column-gap: 10px;
      row-gap: 10px;
      margin: 30px;
}
.jamones {
    grid-area: jamonesin;
    text-align: center;
}
.jamones img{
        width:100%;
        height:140px;
        border-radius:20px;
}
.salazones {
    grid-area: salazonesin;
    text-align: center;
}
.salazones img{
        width:100%;
        height:120px;
        border-radius:20px;
}
.quesos {
     grid-area: quesosin;
     text-align: center;
}
.quesos img{
     width:100%;
     height:150px;
     border-radius:20px;
}
.chacinados {
        grid-area: chacinadosin;
        text-align: center;
}
.chacinados img{
     width:100%;
     height:530px;
     border-radius:20px;
}
-------------------
.contcarouselin{
     width:100%;
     background-color: #223ebb;
     overflow: hidden;
 }
 @media (max-width: 576px){
        .letraenblock{
             display: flex;
             flex-direction: column;
             justify-content:center;  
       }
}
 .rowcarousel{
   display:flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   background-color: #223ebb;
   padding:30px;
 }
 .rowcarousel div img{
     height:370px;
     width:100%;
     object-fit: cover;
 }

/*videoabajoindex*/

.iframelario {
    display:flex;
    width: 60%;
}
.iframelario h3{
        display:flex;
        padding-left: 8px;
}
@media (max-width: 576px){
      .iframelario{
      display:none;
    }
}


/*pagina logistica*/

.logisticarticle{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin:45px;
}
.container-fluidlogistic{
      background-color: #223ebb;
      padding: 15px;
}

.rowlogistic{
      column-gap: 30px;
      row-gap: 20px;
       margin: 10px;
      padding-left: 30px;
}
.rowlogistic div h4 {
      color:#1f3f6d;
}
.rowlogistic div {
      background-color:rgba(206, 198, 198, 0.967);
}

.card1log, .card2log, .card3log, .card4log{
      border-radius: none;
      overflow:hidden;
}
.contcarousellog{
      width:100%;
      padding:20px;
      background-color: #223ebb;
      overflow: hidden; 
}
.rowconcar{
      display:flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      width:700px;
}
@media (max-width: 576px){
     .rowconcar{
        width:100%; 
    }
}

/*paginacontactos*/
.prcontacto {
     display:flex;
     flex-direction:column;
     justify-content:flex-start;
     padding: 0 0 0 15px;
     background-color: #223ebb;
     color:white;
     padding: 15px;
}
.mapacontacto{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
}
@media (max-width: 576px){
     .mapacontacto div iframe {
         display: inline;
         margin:10px;
         padding:25px;
         width:100%;
    }
}
.contactoh1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 22px;
 }
 .formu{
     margin: 25px;
     color: #223ebb;
 }

/*pagina productos*/

.prodh1{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin:45px;
}
.container-fluidprod{
     background-color: #223ebb;
     padding: 15px;
}

.row1mio div, .row2mio div, .row3mio div {
     background-color:rgba(206, 198, 198, 0.967);
}
.card1mia a, .card2mia a, .card3mia a, .card4mia a, .card5mia a, .card6mia a, .card7mia a, .card8mia a, .card9mia a, .card10mia a, .card11mia a, .card12mia a{
    background-color:#1f3f6d;
    border-color:#1f3f6d;
}
.row1mio, .row2mio, .row3mio{
     column-gap: 40px;
     row-gap: 20px;
     margin: 10px;
     padding-left: 30px;
}
@media (max-width: 576px){
     .row1mio, .row2mio, .row3mio{
       flex-direction: column;
      align-items: center;
     }
 }
/*falta cambiar a las imagenes originales*/



/*pagina nosotros*/
.nosotrosmain {
    display:grid;
    grid-template-columns: 50% 50%;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nosotros inostros" "ihistoria historia" 
    "valores ivalores" "imision mision" "vision ivision"; 
    column-gap: 5px;
    row-gap: 5px;
    padding-top:5px;
    margin-right: 5px;
}
.nosotrosmain p{
      color: #f8f3f3;
      margin:10px;
}
.nosotrosmain h5{
     color: #f8f3f3;
     margin:20px;
}
.valores, .mision, .vision, .nosotros, .historia{
      background-color: #223ebb;
      color: #f8f3f3;
} 
.imagenhistoria, .imagennosotros, .imagenvalores, .imagenvision, .imagenmision{
      background-color: #223ebb;
      color: #f8f3f3;
}
.imagennosotros img {
      grid-area: inosotros;
      width:100%;
      height:100%;
      border-radius: 200px;
}
.imagenhistoria img {
     grid-area: ihistoria;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvalores img {
     grid-area: ivalores; 
     width:100%;
     height:100%;
     border-radius: 200px;
}
.imagenmision img {
     grid-area: imision;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvision img{
     grid-area: ivision;
     width:100%;
     height:100%;
     border-radius: 200px;
}
.nosotros {
    grid-area: nosotros;
    text-align: left;
}
.historia {
     grid-area: historia;
     text-align:right;
}
.valores {
     grid-area: valores;
     text-align: center;
}   
.mision {
     grid-area: mision;
     text-align: left;
}    
.vision {
     grid-area: vision;
     text-align: right;
}   