@import './abstract/extend';
@import './abstract/mixin';
@import './abstract/variables';
@import './abstract/maps';


@import './componentes/header';
@import './componentes/footer';
@import './componentes/index';
@import './componentes/contactos';
@import './componentes/logistica';
@import './componentes/nosotros';
@import './componentes/productos';

* {
    margin: 0;
    padding: 0;
} 
body {
     overflow-x:hidden;
     margin: 5px;
     padding: 5px 5px;
     margin:6px;
     background-color: rgba(0,0,0,0.10)!important; 
     }
      h1{
         font:$font-title!important;
         color:$color-titulo;
        }
      h2 {
         font:$font-texto;
         margin: 10px 0;
         color:$color-titulo;
         font:$font-weighth;  
         font-size: 28px;
        }
      h3 {
         font:$font-texto;
         margin: 10px 0;
         color:$color-titulo;
         font:$font-weighth;  
         font-size: 23px;
        }
      h4{
         font:$font-title;
         color:$color-textop2;
         font-size: 21px;
        }
      h5{
         font:$font-title;
         color:$color-titulo;
         font:$font-size5;
         }
       p{
         font:$font-texto;
         color:$color-textop;
         font-weight: 400;
         font-size: 22px;
         }