/*nosotros pagina*/
.prcontacto {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 0 0 0 15px;
     background-color:$color-bc;
     color:white;
     padding: 15px;
}
.mapacontacto{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
      
       @include media-mob(sm){
         div iframe {
             display: inline;
             margin: 10px;
             padding: 25px;
             width: 100%;
            } 
        }
}
.contactoh1{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 22px;
}
.formu{
     margin: 25px;
}