/*footer gral*/
.footgral {
   background: linear-gradient(90deg, rgb(108, 100, 75) 0%, rgba(247, 145, 80, 0.66) 50%, rgb(4, 184, 213) 100%);
   box-shadow: $box-shadow-navfooter;

   ul {
      list-style-type: none;
      display: map-get($di-flex, display);
      flex-direction: map-get($di-flexx, direccion);
      justify-content: flex-end;
      color: $color-ter;

      @include media-mob(sm) {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
      }

      a {
         display: block;
         text-align: right;
         padding: 14px 16px;
         text-decoration: none;
         color: $color-ter;

         img {
            height: 20px;
            margin: -5px 5px;
         }


      }
   }
}