/*index pagina*/
.salaminportada {
    display: map-get($di-flex, display);
    flex-direction: map-get($di-flex, direccion);
    background-color: $color-bc;
    color: $color-ter;

    img {
        position:absolute;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        height: 650px;
        box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);

        @include media-mob(sm) {
            width: 100vw;
            }
    }

    H1 {       
        margin: 45px 0px 0px 7px;
        position:absolute;
        font-size: 3rem;
        font-weight: 350;
        color: $color-ter;
        line-height: 1.0;

        @include media-mob(sm) {
            font-size: 1.5rem;
            font-weight: 300;
            }
    }
}


.index {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 45% 25% 30%;
    grid-template-areas: "jamonesin chacinadosin"
                         "salazonesin chacinadosin"
                         "quesosin chacinadosin";
    column-gap: 10px;
    row-gap: 10px;
    margin: 30px;
    padding-top: 630px;
    
    @include media-mob(sm) {
        display: map-get($di-flex, display);
        flex-direction: map-get($di-flex, direccion);
        padding-top: 650px;
        height: 100vw;
        margin: 15px;
    }
    @include media-mob(sm) {
        div img{
            height: 90px;
            width:91vw;
        }
    }    
}
.familiaprod {
    display: map-get($di-flex, display);
    flex-direction: map-get($di-flex, direccion);
    align-items: map-get($di-flex, alineado);
    $color-titulo: #123565;
    font-size: 30px;
    margin: 7px;

@include media-mob(sm) {
    padding-top: 365px;
    height: 100vw;
    }
}

.jamones img:hover,
.salazones img:hover,
.quesos img:hover,
.chacinados img:hover {
    transform: scale(1.03);
    
}

.jamones {
    grid-area: jamonesin;

    img {
        opacity: 0.9;
        @extend %imgtamaño;
        border-radius: 10px;
        transition: all 0.6s;
    }
}

.salazones {
    grid-area: salazonesin;

    img {
        opacity: 0.9;
        @extend %imgtamaño;
        height: 160px;
        border-radius: 10px;
        transition: all 0.6s;
    }
}

.quesos {
    grid-area: quesosin;

    img {
        opacity: 0.9;
        @extend %imgtamaño;
        height: 160px;
        border-radius: 10px;
        transition: all 0.6s;
    }
}

.chacinados {
    grid-area: chacinadosin;

    img {
        opacity: 0.9;
        @extend %imgtamaño;
        height: 640px;
        border-radius: 10px;
        transition: all 0.6s;
    }
}

.contcarouselin {
    width: 100%;
    background-color: $color-bc;
    overflow: hidden;

    @include media-mob(sm) {
        .letraenblock {
            display: map-get($di-flex, display);
            flex-direction: map-get($di-flex, direccion);
            justify-content: map-get($di-flex, justificado);
            font-size: 11px;
        }
    }
}

.rowcarousel {
    display: map-get($di-flex, display);
    flex-direction: map-get($di-flex, direccion);
    align-content: map-get($di-flex, justificado);
    align-items: map-get($di-flex, alineado);
    background-color: $color-bc;
    padding: 30px;

    div img {
        height: 370px;
        @extend %imgtamaño;
        object-fit: cover;

    }
}

.carsom {
    box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

/*videoabajoindex*/

.iframelario {
    display: map-get($di-flex, display);
    width: 60%;

    h3 {
        display: map-get($di-flex, display);
        padding-left: 8px;
    }

    @include media-mob(sm) {
        display: none;
    }
}