
/*nosotros pagina*/
.logisticarticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:45px;
}
.container-fluidlogistic{
   background-color: rgba(4, 144, 213, 0.88);
    padding: 15px;
}

.rowlogistic{
    column-gap: 30px;
    row-gap: 20px;
     margin: 10px;
    padding-left: 30px;
}
.rowlogistic div h4 {
    color:#1f3f6d;
}
.rowlogistic div {
    background-color:rgba(206, 198, 198, 0.967);
}

.card1log, .card2log, .card3log, .card4log{
    border-radius: none;
    overflow:hidden;
}
.contcarousellog{
    opacity: .9;
    width:100%;
    padding:20px;
    background-color: rgba(4, 144, 213, 0.88);
    overflow: hidden; 
}
.rowconcar{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width:700px;
}

   .rowconcar{
    @include media-mob(sm){
      width:100%; 
  }
}

        