/*nosotros pagina*/
.nosotrosmain {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nosotros inostros" "ihistoria historia" 
    "valores ivalores" "imision mision" "vision ivision"; 
    row-gap: 5px;
    padding-top:5px;
    margin-right: 5px;
     p{
           margin:5px;
           color:$color-ter; 
     }      
     h5{
           margin:5px;
           color: $color-ter; 
     }         
  @include media-mob(sm){
     div{
           display:map-get($di-flex,display);
           flex-direction: wrap;
           align-items:map-get($di-flex,alineado);
          }
     }
}     
/*ver responsive mediaq nosotros por que falla*/

.imagennosotros img {
      grid-area: inosotros;
      width:100%;
      height:100%;
      border-radius: 200px;
}
.imagenhistoria img {
      grid-area: ihistoria;
      width:100%;
      height:100%;
      border-radius: 100%;
}
.imagenvalores img {
      grid-area: ivalores; 
      width:100%;
      height:100%;
      border-radius: 200px;
}
.imagenmision img {
      grid-area: imision;
      width:100%;
      height:100%;
      border-radius: 100%;
}
.imagenvision img{
      grid-area: ivision;
      width:100%;
      height:100%;
      border-radius: 200px;
}
.imagenhistoria, .imagennosotros, .imagenvalores, .imagenvision, .imagenmision{
      background-color:$color-bc;
      color: $color-ter; 
}
.nosotros {
      grid-area: nosotros;
      text-align: left;
      background-color:$color-bc;
      color: $color-ter; 
}
.historia {
      grid-area: historia;
      text-align:right;
      background-color: $color-bc;
      color: $color-ter; 
}
.valores {
      grid-area: valores;
      text-align: center;
      background-color: $color-bc;
      color: $color-ter; 
}   
.mision {
      grid-area: mision;
      text-align: left;
      background-color: $color-bc;
      color: $color-ter;  
}    
.vision {
      grid-area: vision;
      text-align: right;
      background-color:$color-bc;
      color: $color-ter; 
} 
