/*nosotros pagina*/
.nosotrosmain {
    display:grid;
    grid-template-columns: 50% 50%;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nosotros inostros" "ihistoria historia" 
    "valores ivalores" "imision mision" "vision ivision"; 
    row-gap: 5px;
    padding-top:5px;
    margin-right: 5px;
      p{
           margin:10px;
           color: white; 
     }      
      h5{
           margin:20px;
           color: white; 
     }         
  @include media-mob(sm){
     div{
           flex-direction: column;
           align-items: center;
          }
     }
}     
/*ver responsive mediaq nosotros que falla*/
@include media-mob(sm){
     .nosotrosmain div{
           display: flex;
           flex-direction: column;
           justify-content:center;  
     }
}
 
@include media-mob(sm){
     .nosotrosmain section{
           display: flex;
           flex-direction: column;
           justify-content:center;  
     }
}
        
.valores, .mision, .vision, .nosotros, .historia{
      background-color: rgba(4, 144, 213, 0.88);
       color: white; 
}
.imagenhistoria, .imagennosotros, .imagenvalores, .imagenvision, .imagenmision{
     background-color: rgba(4, 144, 213, 0.88);
      color: white; 
}
.imagennosotros img {
      grid-area: inosotros;
      width:100%;
      height:100%;
      border-radius: 200px;
}
.imagenhistoria img {
     grid-area: ihistoria;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvalores img {
     grid-area: ivalores; 
     width:100%;
     height:100%;
     border-radius: 200px;
}
.imagenmision img {
     grid-area: imision;
     width:100%;
     height:100%;
     border-radius: 100%;
}
.imagenvision img{
     grid-area: ivision;
     width:100%;
     height:100%;
     border-radius: 200px;
}
.nosotros {
    grid-area: nosotros;
    text-align: left;
}
.historia {
     grid-area: historia;
     text-align:right;
}
.valores {
     grid-area: valores;
     text-align: center;
}   
.mision {
     grid-area: mision;
     text-align: left;
}    
.vision {
     grid-area: vision;
     text-align: right;
} 