/*nosotros pagina*/
.nosotrosmain {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
       grid-template-areas: "nosotros inostros" "ihistoria historia"
              "valores ivalores" "imision mision" "vision ivision";
       row-gap: 5px;
       padding-top: 5px;
       margin-right: 5px;
       p {
              margin: 5px;
              color: $color-ter;
       }
       h3 {
              margin: 5px;
              color: $color-ter;
              font-weight: 300;
              font-size: 22px;
       }
   @include media-mob(sm) {
              article {
                     display: map-get($di-flex, display);
                     flex-direction: column;
                     justify-content: center;
                     align-items: map-get($di-flex, alineado);
              }
       }
}

/*ver responsive mediaq nosotros por que falla*/

.imagennosotros img {
       grid-area: inosotros;
       border-radius: 200px;
       @extend %imgtamaño;
       box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

.imagenhistoria img {
       grid-area: ihistoria;
       border-radius: 100%;
       @extend %imgtamaño;
       box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

.imagenvalores img {
       grid-area: ivalores;
       border-radius: 200px;
       @extend %imgtamaño;
       box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

.imagenmision img {
       grid-area: imision;
       border-radius: 100%;
       @extend %imgtamaño;
       box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

.imagenvision img {
       grid-area: ivision;
       border-radius: 200px;
       @extend %imgtamaño;
       box-shadow: 0px 0px 8px 0px rgb(239, 204, 204);
}

.imagenhistoria,
.imagennosotros,
.imagenvalores,
.imagenvision,
.imagenmision {
       background-color: $color-bc;
       color: $color-ter;
}

.nosotros {
       grid-area: nosotros;
       text-align: left;
       background-color: $color-bc;
       color: $color-ter;
}

.historia {
       grid-area: historia;
       text-align: right;
       background-color: $color-bc;
       color: $color-ter;
}

.valores {
       grid-area: valores;
       text-align: center;
       background-color: $color-bc;
       color: $color-ter;
}

.mision {
       grid-area: mision;
       text-align: left;
       background-color: $color-bc;
       color: $color-ter;
}

.vision {
       grid-area: vision;
       text-align: right;
       background-color: $color-bc;
       color: $color-ter;
}



 @include media-mob(sm) {
              .imagenhistoria,
              .imagennosotros,
              .imagenvalores,
              .imagenvision,
              .imagenmision,
              .vision,
              .mision,
              .valores,
              .historia,
              .nosotros{
                     display:block;
                    
                    
              }
       }