/*productos pagina*/

.prodh1 {
     display: map-get($di-flex, display);
     flex-direction: map-get($di-flex, direccion);
     align-items: map-get($di-flex, alineado);
     margin: 45px;
}

.container-fluidprod {
     background-color: $color-bc;
     padding: 15px;
}

/*Estilos para js*/


.shop-content {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin-top: 30px;
     margin-left: 80px;
     margin-right: 80px;

}

.cardprod {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 300px;
     margin: auto;
     text-align: center;
     font-family: arial;

     img {
          width: 95%;
          height: 250px;
     }

     button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: black;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;

          &:hover {
               opacity: 0.7;
          }
     }

}

.price {
     color: gray;
     font-size: 35x;
}


/*contenido modal compras*/


.modal-container {
     width: 70%;
     margin: 0 10px;
     max-height: 80vw;
     color: #fff;
     background-color: #121212;
     display: flex;
     flex-direction: column;
     align-items: center;
     // top
     //position fixed
     overflow: hidden;
     z-index: 9;
     top: 12vh;
     scrollbar-color: none;

     div>img {
          height: 120px;
          width: 120px;
     }

     &::-webkit-scrollbar {
          display: none;
     }

     .modal-content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 70%;
          margin: 10px;
     }
}

.modal-header {
     display: flex;
     justify-content: space-around;
     background-color: #0a0909;
     color: #fff;
     width: 100%;

     .modal-header-title {
          justify-self: start;
     }

     .modal-header-button {
          cursor: pointer;
     }
}

.total-content {
     font-size: 25px;
     padding: 20px;
     text-align: center;
     padding-top: 20px;
}

/* delete button product*/
.delete-product {
     cursor: pointer;
}
/*CarritoCounter*/
.cantidad-carrito {
background-color:red;
color:white;
border-radius: 50%;
font-size: 12px;
padding:4px;
top:35px;
right: 14px;
display: none;
}