$color-pri : #123565;
$color-sec : rgba(0,0,0,0.10);  
$color-ter : white; 

$color-bc : rgba(4, 144, 213, 0.88);
$color-titulos: #123565;
$color-textop :  #73848e;
$color-textop2 :  white;  
$color-fbody : rgba(0,0,0,0.10);  

$font-texto : 'Dancing Script', cursive;
$font-titulos :'Alfa Slab One', cursive;

$font-weight: 500;  
$font-size1:31px;

$box-shadow-navfooter: 0px 0px 8px 0px rgb(239, 204, 204);
