$color-pri : #123565;
$color-sec : rgba(0,0,0,0.10);  
$color-ter : white; 

$color-bc : rgba(4, 144, 213, 0.88);
$color-titulo: #123565;
$color-textop : #73848e;
$color-textop2 : white;  
$color-bcard: #5199af;
$color-fbody : rgba(0,0,0,0.10);  
$font-title :normal  31px 'Alfa Slab One';
$font-texto1 : 'Dancing Script',cursive;
$font-texto2 : normal 'Dancing Script';

$font-weighth: 500;  
$font-size5:19px;

$box-shadow-navfooter: 0px 0px 8px 0px rgb(239, 204, 204);
